@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
body{
    font-family: 'Bricolage Grotesque', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

/* About section starts */
    .bg-img{
        height: 100vh;
        max-width: 100vw;
        background-image: url(./images/bg-img.jpg);
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        background-repeat: no-repeat;
        padding: 0px;
        /* border: -10px; */
    }

    .header-text{
        color: white;
        padding: 0 400px;
    }

    .hello{
        font-size: 30px;
        margin-bottom: -20px;
    }

    .header-text>h1{
        font-size: 60px;
        margin-bottom: 0;
        font-weight: bold;
    }

    .details>p{
        font-size: 25px;
        font-weight: normal;
    }
/* About section ends */


/* Education section starts */
    #education{
        /* padding-right: 200px;
        padding-left: 200px; */
        margin: 100px auto 0px auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* margin-top: 100px; */
    }

    .ed-text>h1{
        font-size: 60px;
        color: #2E2D79;
        
    }

    .edu-img>img{
        width: 400px;
    }
    .year-text{
        text-align: center;
    }

    .year-box{
        /* height: 130px;
        width: 240px; */
        background-color: #2E2D79;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding-right: 10px; */
        padding: 20px;
        
    }
    
    .year-box>h3{
        font-size: 25px;
        color: rgb(255, 255, 255);
        /* margin-bottom: -15px; */
        margin: 0px;
    }

    .year-box>p{
        color: #ffffff;
        margin-bottom: 0px;
    }

    .year-text>hr{
        width: 50px;
        height: 2px;
        background-color: black;
    }

    .year-text>p{
        font-size: 18px;
    }
/* Education section ends */

/* Project section starts */
#projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0 116px; */
    margin-top: 50px;
    margin-left: 40px;
}

#projects>h2{
    font-size: 60px;
    color:#2E2D79;
    margin-bottom: -50px;
}

.project-box{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-bottom: 90px;
}

.project-card{
    max-height: 300px;
}

.project-card>h4{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #11135a;
}

.project-card>h4:hover{
    background-color: #2E2D79;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    
}
a>img{
    border-radius: 15px;
}

a>img:hover{
    scale: 1.05;
    box-shadow: 10px 10px #11135a8d;
    margin-bottom: 20px;
}

.red-tag-1{
    position: relative;
    height: 217px;
    width: 400px;
    background-color: #2E2D79;
    top: 195px;
    left: -23px;
    border-radius: 15px;
    z-index: -1;
}
/* project section ends */


/* Hobbies section starts */
    #hobbies{
        margin: 130px auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* margin-top: 130px; */
    }

    .hobbies-text>h2{
        font-size: 60px;
        color: #2E2D79;
        margin-bottom: 50px;

    }

    .hobby-main{
        display: flex;
    }

    .hobbies-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .hobbies-card-1{
        background-image: url(./images/cricket.jpg);
        background-repeat: no-repeat;
        height: 475px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 0px;
    }

    .hobbies-card-1:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px #11135ac3;
        margin-bottom: 20px;
    }

    .alone>h3{
        font-size: 25px;
        color: #2E2D79;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .hobbies-card-2{
        background-image: url(./images/music.jpg);
        background-repeat:no-repeat ;
        height: 475px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 0px;
    }

    .hobbies-card-2:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px #11135ac3;
        margin-bottom: 20px;
    }

    .hobbies-card-3{
        background-image: url(./images/puzzle.png);
        background-repeat:no-repeat ;
        height: 475px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 0px;
    }

    .hobbies-card-3:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px #11135ac3;
        margin-bottom: 20px;
    }
/* Hobbies section ends */


/* Footer starts */
    #contact{
        height: 250px;
        width: 100%;
        background-color: #2E2D79;
        margin-bottom: -45px;
        padding-top: 20px;
    }

    .contact-left{
        margin-left: 165px;
    }

    .contact-left>h2{
        font-size: 60px;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .contact-left>a{
        text-decoration: none;
        color: white;
    }

    .logo{
        width: 40px;
        margin: 5px;
        margin-top: 10px;
    }


/* Footer ends */


@media screen and (max-width: 480px) {
    
    .bg-img{
        width: 100vw;
        height: auto;
        background-size: 100% 100%; 
    }

    .header-text{
        padding: 0px;
        text-align: center;
        background-color: #2e2d79f5;
        margin: auto;
    }
    
    .hello{
        font-size: 20px;
    }
    .header-text>h1{
        font-size: 45px;
    }

    #education{
        flex-direction: column;
        text-align: center;
    }

    #projects{
        margin: auto;
        text-align: center;
    }

    .red-tag-1{
        /* display: none; */
        width: 300px;
        /* position: relative; */
        height: 162px;
    
    /* background-color: #2E2D79; */
        top: 143px;
        left: -19px;
    /* border-radius: 15px;
    z-index: -1; */
    }

    a>img{
        /* border: 2px solid #2E2D79; */
        width: 300px;
    }

    .edu-img>img{
        width: 250px;
    }

    .project-box{
        flex-wrap: wrap;
    }

    #project-box-2{
        margin-top: -82xpx;
    }

    .hobby-main{
        flex-direction: column;
    }
    #contact{
        width: 100vw;
        text-align: center;
    }

    .contact-left{
        margin: auto;
    }
}